body, html {
  height: 100%;
  display: flex;
  -webkit-tap-highlight-color: transparent;
}
* {
    margin: 0;
    padding: 0;
}
.container, .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}
.page, body {
    background-color: #f8f8f8;
}    
.demos-title {
  text-align: center;
  font-size: 28px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 35px 0;
  background-color: #2A3F54;
}

.demos-header p{
	color: white;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}

div.weui-tab__bd{
	overflow: auto !important;
}

.weui-msg__desc {
	text-align: center;
}
/*div.weui-panel{
	overflow: auto !important;
}*/
div.my-weui-tab__bd{
	margin-bottom: 50px;
}

i.icon-in-list {
	width:20px;
	margin-right:5px;
	display:block"
}
div.weui-form-preview{
	margin-bottom: 15px;
}

.weui-navbar__item.weui-bar__item--on{
	color: #04BE02;
}
.my-infinite{
	overflow:auto; 
}
.hidden {
	height: 1;
	width: 1;
	visibility: hidden;
	display: none;
}
.weui-navbar-back{
	background-color: #2A3F54 !important;
}
.weui-navbar-back .weui-navbar__item {
	color: #FFFFFF;
	margin-left: 10px;
	text-align: left;
}

.weui-navbar-back .weui-navbar__item i{
	margin-right: 0;
}

label.error{
	font-size: small;
	color: red;
}
.weui-footer_fixed-bottom {
	position: absolute;
}
.logo img {
	width: 35%;
}
